.card {
  box-shadow: 0px 0px 5px rgba(0, 127, 255, 0.2);
}

p.card {
  margin: 0%;
  margin-left: 5%;
  font-weight: 400;
  text-align: center;
  opacity: 70%;
}

.emp {
  /* font-size: larger; */
  color: #007fff;
  font-weight: 600;
  margin: 0%;
}

.detailsb {
  padding: 10%;
  background-color: #80bde4;
  border-style: solid;
  border-width: 0.03cm;
  border-color: #00003a;
  border-radius: 5%;
  transition-duration: 100ms;
}

.detailsb:hover {
  background-color: #f5fffa;
}

.details {
  text-align: center;
  color: #07213f;
}

.details:hover {
  color: #00003a;
}
