.main {
  display: flex;
  flex-direction: column;
}

.search {
  height: 50px;
  flex: 1 0 auto;
  padding: 2%;
  border-color: #00003a;
  border-width: 0.03cm;
  border-style: solid;
  box-shadow: 0px 0px 5px rgba(0, 127, 255, 0.2);
}

.view {
  flex: 0 0 auto;
  padding: 2%;
}
